<p id="notice"><%= notice %></p>

<h1>Weathers</h1>

<table class="table is-bordered is-striped is-narrow is-fullwidth">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp</th>
    </tr>
  </thead>

  <tbody>
    <% @weathers.each do |weather| %>
      <tr>
        <td><%= weather.date %></td>
        <td><%= weather.temp %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= react_component("Weather", {weather: @weathers.last.temp}) %>

<%= link_to 'New Weather', new_weather_path %>
