<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @weather.date %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @weather.temp %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
